body{
    font-family: 'Roboto', sans-serif;
    background-color: #42C2FF;
    margin: 0;
}

header{
    display: flex;
    background-color: #85F4FF;
    justify-content: flex-start;
    align-items: center;
}

#logo{
    height: 3rem;
    width: 3rem;
    margin-left: 0.25rem;
}

h2{
    margin-left: 1%;
}

a{
    text-decoration: none;
}

#main-container{
    display: flex;
    flex-direction: row;
}

.chat{
    height: 70%;
    width: 70%;
    background-color:red;
    margin: 1.5% 1.5% 0 1.5%;
}

#chat-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#contact-header{
    display: flex;
    justify-content: center;
}

#btn-top{
    z-index: 2;
} /*maybe trash*/ 

#add-btn, .add-img {
    height: 1rem;
    width: 1rem;
}

#add-btn{
    background-color: blue;
    border:none;
    cursor: pointer;
    margin-left:17.5rem;
}
.add-img{
    margin-left: -0.25rem;
    margin-top: -0.05rem;
}
.pfp{
    height: 2rem;
    width: 2rem;
}
#add-friends{
    display: none;
}
